br/
br/
br/
div.center
  h2.no-count ΑΡΙΣΤΟΤΕΛΕΙΟ ΠΑΝΕΠΙΣΤΗΜΙΟ ΘΕΣΣΑΛΟΝΙΚΗΣ
  h2.no-count ΤΜΗΜΑ ΗΛΕΚΤΡΟΛΟΓΩΝ ΜΗΧΑΝΙΚΩΝ ΚΑΙ ΜΗΧΑΝΙΚΩΝ ΥΠΟΛΟΓΙΣΤΩΝ
  h2.no-count ΤΟΜΕΑΣ ΗΛΕΚΤΡΟΝΙΚΗΣ
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  h1#title ΣΥΝΘΕΣΗ ΕΝΕΡΓΩΝ ΚΑΙ ΠΑΘΗΤΙΚΩΝ ΚΥΚΛΩΜΑΤΩΝ
  h3.no-count 7ο εξάμηνο
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  br/
  h3.no-count.
    Εισηγητής: Θεοχάρης Ι.#[br/]
    Φανάκης Απόστολος, 8261
  br/
  span Θεσσαλονίκη 2018

div(style="page-break-before:always")