div(style="page-break-before:always")

h2.no-count Πίνακας περιεχομένων
br/
<div class="ui ordered divided list">
	<div class="item">
		strong Εισαγωγή
		span.ui.right.floated σελ. 3
		<div class="list">
			<div class="item">
				span.item Περίληψη
				span.ui.right.floated σελ. 3
			</div>
			<div class="item">
				span.item Σύμβαση ονοματολογίας και ειδικοί όροι
				span.ui.right.floated σελ. 3
			</div>
		</div>
	</div>
	<div class="item">
		strong Κατωδιαβατό φίλτρο Inverse Chebyshev
		span.ui.right.floated σελ. 5
		<div class="list">
			<div class="item">
				span.item Σχεδίαση φίλτρου
				span.ui.right.floated σελ. 6
				<div class="list">
					<div class="item">
						span.item(style="margin-left: 8px") Υπολογισμός συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 6
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Υλοποίηση συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 9
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Ρύθμιση κέρδους
						span.ui.right.floated σελ. 14
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Συναρτήσεις μεταφοράς
						span.ui.right.floated σελ. 15
					</div>
				</div>
			</div>
			<div class="item">
				span.item Μελέτη συνάρτησης μεταφοράς στο Matlab
				span.ui.right.floated σελ. 17
			</div>
			<div class="item">
				span.item Υλοποίηση κυκλώματος στο Multisim
				span.ui.right.floated σελ. 20
			</div>
		</div>
	</div>
	<div class="item">
		strong Ζωνοδιαβατό φίλτρο Chebyshev
		span.ui.right.floated σελ. 28
		<div class="list">
			<div class="item">
				span.item Σχεδίαση φίλτρου
				span.ui.right.floated σελ. 30
				<div class="list">
					<div class="item">
						span.item(style="margin-left: 8px") Υπολογισμός συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 30
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Υλοποίηση συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 35
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Συναρτήσεις μεταφοράς
						span.ui.right.floated σελ. 47
					</div>
				</div>
			</div>
			<div class="item">
				span.item Μελέτη συνάρτησης μεταφοράς στο Matlab
				span.ui.right.floated σελ. 49
			</div>
			<div class="item">
				span.item Υλοποίηση κυκλώματος στο Multisim
				span.ui.right.floated σελ. 53
			</div>
		</div>
	</div>
	<div class="item">
		strong Ζωνοφρακτικό φίλτρο Chebyshev
		span.ui.right.floated σελ. 60
		<div class="list">
			<div class="item">
				span.item Σχεδίαση φίλτρου
				span.ui.right.floated σελ. 62
				<div class="list">
					<div class="item">
						span.item(style="margin-left: 8px") Υπολογισμός συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 62
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Υλοποίηση συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 67
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Ρύθμιση κέρδους
						span.ui.right.floated σελ. 76
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Συναρτήσεις μεταφοράς
						span.ui.right.floated σελ. 77
					</div>
				</div>
			</div>
			<div class="item">
				span.item Μελέτη συνάρτησης μεταφοράς στο Matlab
				span.ui.right.floated σελ. 79
			</div>
			<div class="item">
				span.item Υλοποίηση κυκλώματος στο Multisim
				span.ui.right.floated σελ. 83
			</div>
		</div>
	</div>
	<div class="item">
		strong Ανωδιαβατό φίλτρο Butterworth
		span.ui.right.floated σελ. 91
		<div class="list">
			<div class="item">
				span.item Σχεδίαση φίλτρου
				span.ui.right.floated σελ. 92
				<div class="list">
					<div class="item">
						span.item(style="margin-left: 8px") Υπολογισμός συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 92
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Υλοποίηση συνάρτησης μεταφοράς
						span.ui.right.floated σελ. 95
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Ρύθμιση κέρδους
						span.ui.right.floated σελ. 98
					</div>
					<div class="item">
						span.item(style="margin-left: 8px") Συναρτήσεις μεταφοράς
						span.ui.right.floated σελ. 99
					</div>
				</div>
			</div>
			<div class="item">
				span.item Μελέτη συνάρτησης μεταφοράς στο Matlab
				span.ui.right.floated σελ. 100
			</div>
			<div class="item">
				span.item Υλοποίηση κυκλώματος στο Multisim
				span.ui.right.floated σελ. 103
			</div>
		</div>
	</div>
</div>