div(style="page-break-before:always")
// Chapter title
h2 Κατωδιαβατό φίλτρο Inverse Chebyshev
br/

// Chapter description/introduction
p.
	Με βάση τον αριθμό ΑΕΜ (8261), υπολογίστηκαν οι προδιαγραφές του κατωδιαβατού φίλτρου προς σχεδίαση:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td Pass frequency (f#[sub p])
				td 5500 Hz
			tr
				td Pass radial frequency (ω#[sub p])
				td 34557.519 rad/s
			tr
				td Stop frequency (f#[sub s])
				td 11550 Hz
			tr
				td Stop radial frequency (ω#[sub s])
				td 72570.790 rad/s
			tr
				td Min stop attenuation (a#[sub min])
				td 23.75 dB
			tr
				td Max pass attenuation (a#[sub max])
				td 0.35 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές σχεδίασης κατωδιαβατού φίλτρου

figure.block-center.width-15cm
	img(src="1_low_pass/assets/diagrams/low_pass_general_transfer_function_plot.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Ποιοτικό γράφημα συνάρτησης μεταφοράς κατωδιαβατού Chebyshev φίλτρου.
		.caption.
			Στο γράφημα φαίνονται οι συχνότητες που ορίζουν τη ζώνη διόδου (f#[sub p]/ω#[sub p]) και τη ζώνη αποκοπής (f#[sub s]/ω#[sub s]), καθώς και οι προδιαγραφές α#[sub min] και α#[sub max].

// Sub-Chapters
include 1_low_pass_design
include 1_low_pass_transfer_function_matlab
include 1_low_pass_transfer_function_multisim
