div(style="page-break-before:always")
h3 Σχεδίαση φίλτρου
p.
	Για τη σχεδίαση του φίλτρου ακολουθήθηκε η διαδικασία που περιγράφεται στο κεφάλαιο 12 των σημειώσεων του μαθήματος:

figure.block-center.width-15cm
	div.ui.list.ordered.celled.striped
		div.item Υπολογισμός των προδιαγραφών ενός πρωτότυπου κατωδιαβατού Butterworth φίλτρου, μέσω των προδιαγραφών του επιθυμητού ανωδιαβατού φίλτρου.
		div.item Υπολογισμός της τάξης και της συχνότητας ημίσειας ισχύος του πρωτότυπου φίλτρου.
		div.item Υπολογισμός των πόλων του πρότυπου φίλτρου Butterworth.
		div.item Υπολογισμός των πόλων και μηδενικών του ανωδιαβατού φίλτρου μέσω του ευθύ μετασχηματισμού LP → HP.
		div.item Υλοποίηση των ανωδιαβατών μονάδων με χρήση φίλτρων Sallen-Key με βάση τα κυκλώματα του κεφαλαίου 7.
		div.item Κλιμακοποίηση του κυκλώματος με στόχο τη μεταφορά στις πραγματικές συχνότητες και σε στοιχεία με πρακτικές (υλοποιήσιμες) τιμές.
		div.item Έλεγχος των κερδών των μονάδων και ρύθμιση κέρδους με επιβολή απόσβεσης ή ενίσχυσης.

h4 Υπολογισμός συνάρτησης μεταφοράς

p.
	Αρχικά σχεδιάζεται ένα πρωτότυπο κατωδιαβατό Butterworth φίλτρο, το οποίο αργότερα θα μετατραπεί στο επιθυμητό ανωδιαβατό Butterworth.

p Υπολογίζονται οι προδιαγραφές του πρωτότυπου κατωδιαβατού χρησιμοποιώντας τις εξισώσεις #[span.course-notes-equation 12-4]:

p.latex-equation.
	$$\Omega_p = 1\frac{rad}{s}$$
	και $$\Omega_S = \frac{\omega_p}{\omega_s} = \frac{31415.927}{12083.049} = 2.6\frac{rad}{s}$$

p Οι προδιαγραφές απόσβεσης παραμένουν ίδιες.

p Υπολογίζεται η τάξη του φίλτρου χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-52]:

p.latex-equation.
	$$n = \left \lceil \frac{\log\bigg(\frac{10^{\frac{a_{min}}{10}}-1}{10^{\frac{a_{max}}{10}}-1}\bigg)}{2\log(\frac{\Omega_s}{\Omega_p})} \right \rceil = \left \lceil \frac{\log\bigg(\frac{10^{2.4667}-1}{10^{0.0667}-1}\bigg)}{2\log(2.6)} \right \rceil = \left \lceil \frac{3.2453}{0.8299} \right \rceil = \left \lceil 3.91 \right \rceil = 4$$

p.
	Από τον παραπάνω τύπο φαίνεται ότι κατά τον υπολογισμό της τάξης του φίλτρου γίνεται στρογγυλοποίηση της τάξης προς τον επόμενο #[strong μεγαλύτερο] ακέραιο. Αυτό γίνεται επειδή δεν είναι δυνατή η υλοποίηση ενός φίλτρου ρητής τάξεως, έτσι είναι απαραίτητο η τάξη να στρογγυλοποιηθεί. Η στρογγυλοποίηση είναι σημαντικό να γίνει προς τα επάνω (ceiling) ώστε να επιτευχθούν οι προδιαγραφές του φίλτρου. Μία πιθανή στρογγυλοποίηση προς τα κάτω θα είχε ως αποτέλεσμα την αποτυχία στη σχεδίαση.

p.
	Λόγω της στρογγυλοποίησης αυτής, αναμένεται μάλιστα να υπάρχει υπερκάλυψη σε τουλάχιστον μία από τις προδιαγραφές. Στη συγκεκριμένη περίπτωση, λόγω της επιλογής κανονικοποίησης ως προς το pass band, αναμένεται να υπάρχει υπερκάλυψη της προδιαγραφής a#[sub max].

p.
	Υπολογίζεται η κανονικοποιημένη συχνότητα ημίσειας ισχύος χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 9-48]:

p.latex-equation.
	$$\Omega_{hp} = \frac{\Omega_p}{\big [ 10^{\frac{a_{max}}{10}}-1 \big ]^{\frac{1}{2n}}} = \frac{1}{\big [ 10^{0.0667}-1 \big ]^{\frac{1}{2n}}} = 1.2517\frac{rad}{s}$$

p και στη συνέχεια μεταφέρεται στη πραγματική συχνότητα χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 12-3]:

p.latex-equation.
	$$\omega_{hp} = \frac{\omega_p}{\Omega_{hp}} = \frac{31415.927}{1.2517} = 25097.784\frac{\text{rad}}{\text{s}}$$

p.
	Οι γωνίες Butterworth μπορούν να υπολογιστούν με βάση τον αλγόριθμο Guillemin ή να βρεθούν απευθείας από γνωστούς πίνακες γωνιών Butterworth. Για φίλτρο τέταρτης τάξης, οι γωνίες είναι:

p.latex-equation.
	$$\pm 22.5^\circ$$ και $$\pm 67.5^\circ$$

p.
	Με βάση τις εξισώσεις #[span.course-notes-equation 9-31] και #[span.course-notes-equation 9-38]:

p.latex-equation.
	$$\sigma_k = -\cos(\psi_k)$$
	$$\Omega_k = \sin(\psi_k)$$

p.latex-equation.
	$$Q_k = \frac{1}{2\cos(\psi_k)}$$

p προκύπτουν οι πόλοι του #[strong κατωδιαβατού Butterworth]:

p.latex-equation.
	$$\text{Pole 1: } -0.924\pm0.383\mathrm{i}\text{, }\hspace{2mm}\Omega_0 = 1\text{, }\hspace{2mm}Q=0.541$$
	$$\text{Pole 2: } -0.383\pm0.924\mathrm{i}\text{, }\hspace{2mm}\Omega_0 = 1\text{, }\hspace{2mm}Q=1.307$$

p.
	Οι πόλοι μετασχηματίζονται χρησιμοποιώντας τον ευθύ μετασχηματισμό #[span.course-notes-equation 12-6]:

p.latex-equation.
	$$S = \frac{1}{s}$$

p.
	Σύμφωνα με τις σημειώσεις του μαθήματος (κεφάλαιο 12, σελίδα 5, τέλος σελίδας) και τη θεωρία ο ευθύς μετασχηματισμός LP → HP φίλτρων Butterworth αφήνει τους πόλους αναλοίωτους. Έτσι οι πόλοι του #[strong ανωδιαβατού] Butterworth είναι οι ίδιοι με αυτούς του #[strong κατωδιαβατού] που υπολογίστηκαν. Ωστόσο, στη συνάρτηση μεταφοράς εμφανίζονται τέσσερα μηδενικά στο μηδέν.

p.latex-equation.
	$$T_{LP}(S) = \frac{1}{(S^2+1.848S+1)(S^2+0.765S+1)}$$
	$$T_{HP}(s) = \frac{s^4}{(s^2+1.848s+1)(s^2+0.765s+1)} $$

p.
	Στην παραπάνω σχέση, η συχνότητα ημίσειας ισχύος για το ανωδιαβατό φίλτρο είναι ω#[sub 0]=1, δηλαδή έχουμε ένα κανονικοποιημένο ανωδιαβατό φίλτρο. Στην πραγματικότητα όμως η συχνότητα 3dB του ανωδιαβατού φίλτρου προκύπτει ω#[sub 0]=25097.784 (rad/s), διότι Ω#[sub 0]≠1 και ω#[sub p]≠1. Επομένως, οι πόλοι της T#[sub HP](s) κείνται πάνω σε ένα κύκλο με ακτίνα ω#[sub 0]. Οι πόλοι της ανωδιαβατής συνάρτησης δίνονται από τον παρακάτω πίνακα, όπου αντί για Ω#[sub 0k]=1 θεωρούμε μέτρα ω#[sub 0], δηλαδή:

p.latex-equation.
	$$s_k = \omega_0(-\cos{\psi_k}+\mathrm{i}\sin{\psi_k})$$

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th p#[sub k]
				th ψ#[sub k]
				th σ#[sub k]±jω#[sub k]
				th Ω#[sub 0k]
				th Q#[sub k]
		tbody
			tr
				td p#[sub 1]
				td ±22.5°
				td -23187.329±j9604.506
				td 25097.784
				td 0.541
			tr
				td p#[sub 2]
				td ±67.5°
				td -9604.506±j23187.329
				td 25097.784
				td 1.307
	figcaption
		.reference #[span.table-count]
		.caption.
			Πόλοι ανωδιαβατού Butterworth φίλτρου

p.
	Με άλλα λόγια η ω#[sub 0] δίνει την συνολική κλιμακοποίηση συχνότητας, αφ'ενός μεν λόγω της αρχικής κλιμακοποίησης (ω#[sub p]) και στην συνέχεια λόγω κλιμακοποίησης του Ω#[sub hp]: ω#[sub hp]=31415.927/1.2517=25097.784.

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/matlab_high_pass_butterworth_zero_pole.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.
			Πόλοι και μηδενικά του Butterworth.

div(style="page-break-before:always")
p.
	Κάθε ζεύγος μιγαδικών πόλων υλοποιείται από ένα κύκλωμα Sallen-Key, προκύπτουν έτσι οι παρακάτω ανωδιαβατές μονάδες προς υλοποίηση:

figure.block-center.width-15cm
	img(src="4_high_pass/assets/diagrams/high_pass_butterworth_units_diagram.svg").width-12cm.block-center
	figcaption
		.reference #[span.plot-count]
		.caption.
			Ανωδιαβατές μονάδες Sallen-Key προς υλοποίηση

h4 Υλοποίηση συνάρτησης μεταφοράς

p.
	Από τον αριθμό ΑΕΜ (8261) υποδεικνύεται η χρήση των κυκλωμάτων Sallen-Key του κεφαλαίου 6, με χρήση της πρώτης στατηγικής σχεδίασης (Στρατηγική 1).

h5 Μονάδα 1

p Η πρώτη μονάδα Sallen-Key πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 01]
				td 25097.784
			tr
				td Q
				td 0.541
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές πρώτης ανωδιαβατής μονάδας Sallen-Key

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 6.2.1 (σελίδα 27) και των εξισώσεων #[span.course-notes-equation 7-74] και #[span.course-notes-equation 7-75]:

p.latex-equation.
	$$R_1 = R_2 = 1\text{ Ohm}$$
	$$C_1 = C_2 = 1\text{ F}$$
	$$k = 3-\frac{1}{Q} = 3-\frac{1}{0.541} = 1.1522\hspace{1cm}\text{(Gain at high frequencies)}$$
	$$r_1 = 1$$
	$$r_2 = 2-\frac{1}{Q} = 2-\frac{1}{0.541} = 0.1522$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_{01} = 25097.784$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{1}{25097.784*0.1*10^{-6}} = 398.4415$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C#[sub 1] = C#[sub 2]
				td(colspan="2") 0,1 μF
			tr
				td R#[sub 1]
				td(colspan="2") 398.4415 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 398.4415 Ohm
			tr
				td r#[sub 1]
				td(colspan="2") 398.4415 Ohm
			tr
				td r#[sub 2]
				td(colspan="2") 60.6591 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 1.1522
				td 1.23 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Οι τιμές των στοιχείων της πρώτης μονάδας και το κέρδος στις υψηλές συχνότητες

p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 6-68]:

p.latex-equation.
	$$\begin{align*} T_{HP}^1(s) &= k\frac{s^2}{s^2+\big [ \frac{1}{R_2C_1}+\frac{1}{R_2C_2}+\frac{1-k}{R_1C_1} \big ] s+\frac{1}{R_1R_2C_1C_2}} \\[3.5mm] &= 1.1522\frac{s^2}{s^2+\big [ \frac{1}{398.4415*0.1*10^{-6}}+\frac{1}{398.4415*0.1*10^{-6}}+\frac{1-1.1522}{398.4415*0.1*10^{-6}} \big ] s+\frac{1}{398.4415^2*(0.1*10^{-6})^2}} \\[3.5mm] &=\frac{1.1522s^2}{s^2+46376s+6.299*10^8} \end{align*}$$

h5 Μονάδα 2

p Η δεύτερη μονάδα Sallen-Key πρέπει να υλοποιεί:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Προδιαγραφή
				th Τιμή
		tbody
			tr
				td ω#[sub 01]
				td 25097.784
			tr
				td Q
				td 1.307
	figcaption
		.reference #[span.table-count]
		.caption.
			Προδιαγραφές δεύτερης ανωδιαβατής μονάδας Sallen-Key

p.
	Υπολογίζονται τα στοιχεία του κυκλώματος του φίλτρου, με χρήση της μεθοδολογίας που περιγράφεται στο κεφάλαιο 6.2.1 (σελίδα 27) και των εξισώσεων #[span.course-notes-equation 7-74] και #[span.course-notes-equation 7-75]:

p.latex-equation.
	$$R_1 = R_2 = 1\text{ Ohm}$$
	$$C_1 = C_2 = 1\text{ F}$$
	$$k = 3-\frac{1}{Q} = 3-\frac{1}{1.307} = 2.2346\hspace{1cm}\text{(Gain at high frequencies)}$$
	$$r_1 = 1$$
	$$r_2 = 2-\frac{1}{Q} = 2-\frac{1}{1.307} = 1.2346$$

p #[strong Κλιμακοποίηση]

p.
	Γίνεται κλιμακoποίηση των στοιχείων της μονάδας για να μεταφερθούν οι συχνότητες στις πραγματικές τιμές. Επιλέγεται:

p.latex-equation.
	$$k_{f} = \omega_{01} = 25097.784$$

p.
	Με βάση τον αριθμό ΑΕΜ (8261) επιλέγεται κατάλληλος συντελεστής κλιμακοποίησης πλάτους ώστε να επιτευχθεί τιμή πυκνωτών ίση με 0.1μF, γίνεται χρήση του τύπου #[span.course-notes-equation 6-33]:

p.latex-equation.
	$$k_{m} = \frac{C_{old}}{k_fC_{new}} = \frac{1}{25097.784*0.1*10^{-6}} = 398.4415$$

p Οι τελικές τιμές των στοιχείων φαίνονται στον παρακάτω πίνακα:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Στοιχείο/Κέρδος
				th(colspan="2") Τιμή
		tbody
			tr
				td C#[sub 1] = C#[sub 2]
				td(colspan="2") 0,1 μF
			tr
				td R#[sub 1]
				td(colspan="2") 398.4415 Ohm
			tr
				td R#[sub 2]
				td(colspan="2") 398.4415 Ohm
			tr
				td r#[sub 1]
				td(colspan="2") 398.4415 Ohm
			tr
				td r#[sub 2]
				td(colspan="2") 491.9291 Ohm
			tr
				td Κέρδος στις υψηλές συχνότητες
				td 2.2346
				td 6.98 dB
	figcaption
		.reference #[span.table-count]
		.caption.
			Οι τιμές των στοιχείων της δεύτερης μονάδας και το κέρδος στις υψηλές συχνότητες

div(style="page-break-before:always")
p.
	Η συνάρτηση μεταφοράς της μονάδας υπολογίζεται χρησιμοποιώντας την εξίσωση #[span.course-notes-equation 6-68]:

p.latex-equation.
	$$\begin{align*} T_{HP}^2(s) &= k\frac{s^2}{s^2+\big [ \frac{1}{R_2C_1}+\frac{1}{R_2C_2}+\frac{1-k}{R_1C_1} \big ] s+\frac{1}{R_1R_2C_1C_2}} \\[3.5mm] &= 2.2346\frac{s^2}{s^2+\big [ \frac{1}{398.4415*0.1*10^{-6}}+\frac{1}{398.4415*0.1*10^{-6}}+\frac{1-2.2346}{398.4415*0.1*10^{-6}} \big ] s+\frac{1}{398.4415^2*(0.1*10^{-6})^2}} \\[3.5mm] &=\frac{2.2346s^2}{s^2+19210s+6.299*10^8} \end{align*}$$

h4 Ρύθμιση κέρδους

p.
	Με βάση τον αριθμό ΑΕΜ (8261) πραγματοποιείται ρύθμιση κέρδους με στόχο την επίτευξη κέρδους 10 dB στη ζώνη διόδου.

p.
	Κατά την υλοποίηση των μονάδων Sallen-Key διαπιστώθηκε ότι κάθε μονάδα εισάγει ένα κέρδος. Το συνολικό κέρδος που εισάγουν οι μονάδες είναι:

p.latex-equation.
	$$k = k_1k_2 = 1.1522*2.2346 = 2.5747$$
p.
	Για τη ρύθμιση του κέρδους χρησιμοποιείται μία αναστρέφουσα συνδεσμολογία με κέρδος:

p.latex-equation.
	$${k}' = \frac{10^{\frac{10}{20}}}{k} = \frac{3.162}{2.5747} = 1.2281$$

p.
	Επιλέγεται η χρήση αντίστασης εισόδου ίσης με r#[sub 1]=10 kOhm. Έτσι η αντίσταση ανατροφοδότησης υπολογίζεται:

p.latex-equation.
	$$r_2 = r_1{k}' = 10*10^3*1.2281 = 12281\text{ Ohm}$$

div(style="page-break-before:always")
h4 Συναρτήσεις μεταφοράς

p.
	Στον παρακάτω πίνακα φαίνονται οι συναρτήσεις μεταφοράς των επιμέρους μονάδων που υπολογίστηκαν παραπάνω:

figure.block-center.width-15cm
	table.ui.celled.table.teal.striped.center.aligned
		thead
			tr
				th Μονάδα
				th Συνάρτηση μεταφοράς
		tbody
			tr
				td Πρώτη μονάδα (Unit 1)
				td.
					$$T_{HP}^1(s) = \frac{1.1522s^2}{s^2+46376s+6.299*10^8}$$
			tr
				td Δεύτερη μονάδα (Unit 2)
				td.
					$$T_{HP}^2(s) = \frac{2.2346s^2}{s^2+19210s+6.299*10^8}$$
	figcaption
		.reference #[span.table-count]
		.caption.
			Συναρτήσεις μεταφοράς των επιμέρους μονάδων

p.
	Η συνολική συνάρτηση μεταφοράς του φίλτρου υπολογίζεται:

p.latex-equation.
	$$\begin{align*} T_{HP(s)} &= {k}'T_{HP(s)}^1T_{HP(s)}^2 \\[3.5mm] &=\frac{3.1623s^4}{s^4+65584s^3+21.506*10^8s^2+4.1311*10^{13}s+39.677*10^{16}} \\[3.5mm] \end{align*}$$

p.
	Στο παρακάτω σχήμα φαίνεται το τελικό κύκλωμα του φίλτρου:

figure.block-center.width-19cm
	img(src="4_high_pass/assets/diagrams/multisim_high_pass_butterworth_circuit_layout_only_filter.svg").width-19cm
	figcaption
		.reference #[span.plot-count]
		.caption.
			Κύκλωμα ζωνοφρακτικού φίλτρου
