div(style="page-break-before:always")
h3 Μελέτη συνάρτησης μεταφοράς στο Matlab
p.
	Η σχεδίαση του φίλτρου έγινε στο λογισμικό Matlab. Σχεδιάστηκαν, με χρήση της συνάρτησης plot_transfer_function που δόθηκε καθώς και της ltiview που παρέχει το λογισμικό, οι αποκρίσεις πλάτους σε dB των επιμέρους μονάδων, καθώς και του συνολικού φίλτρου.

p.
	Παρακάτω φαίνονται οι αποκρίσεις όπως προέκυψαν στο Matlab από την plot_transfer_function, με ορίσματα κάθε φορά την συνάρτηση μεταφοράς του επί μέρους συστήματος, καθώς και τυχόν κρίσιμες συχνότητες:

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/matlab_band_pass_chebyshev_deliyannis_friend_unit_1_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς πρώτης ζωνοδιαβατής μονάδας Deliyannis-Friend.
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας καθώς και στη κεντρική συχνότητα του φίλτρου, από όπου μπορούμε να επιβεβαιώσουμε ότι η ρύθμιση κέρδους πέτυχε το επιθυμητό κέρδος 0 dB.

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/matlab_band_pass_chebyshev_deliyannis_friend_unit_2_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς δεύτερης ζωνοδιαβατής μονάδας Deliyannis-Friend.
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας καθώς και στη κεντρική συχνότητα του φίλτρου, από όπου μπορούμε να επιβεβαιώσουμε ότι η ρύθμιση κέρδους πέτυχε το επιθυμητό κέρδος 0 dB.

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/matlab_band_pass_chebyshev_deliyannis_friend_unit_3_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς τρίτης ζωνοδιαβατής μονάδας Deliyannis-Friend.
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας καθώς και στη κεντρική συχνότητα του φίλτρου, από όπου μπορούμε να επιβεβαιώσουμε ότι η ρύθμιση κέρδους πέτυχε το επιθυμητό κέρδος 0 dB.

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/matlab_band_pass_chebyshev_deliyannis_friend_unit_4_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνάρτηση μεταφοράς τέταρτης ζωνοδιαβατής μονάδας Deliyannis-Friend.
		.caption.
			Στο γράφημα φαίνεται η απόκριση της συνάρτησης μεταφοράς στην κεντρική συχνότητα της μονάδας καθώς και στη κεντρική συχνότητα του φίλτρου, από όπου μπορούμε να επιβεβαιώσουμε ότι η ρύθμιση κέρδους πέτυχε το επιθυμητό κέρδος 0 dB.

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/matlab_band_pass_chebyshev_total_transfer_function.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνολική συνάρτηση μεταφοράς φίλτρου.
		.caption.
			Παρατηρούμε ότι η συνάρτηση μεταφοράς του φίλτρου έχει το αναμενόμενο σχήμα ενός ζωνοδιαβατού Chebyshev φίλτρου. Πιο συγκεκριμένα, στη ζώνη αποκοπής η συνάρτηση μεταφοράς είναι γνησίως φθίνουσα, ενώ στη ζώνη διόδου εμφανίζει ταλάντωση (ripples). Στο γράφημα φαίνεται επίσης η απόκριση της συνάρτησης μεταφοράς στις κρίσιμες συχνότητες: f#[sub 3]=696.11 Hz, f#[sub hp1]=792.93 Hz, f#[sub 1]=800 Hz, f#[sub 0]=900 Hz, μέγιστο σημείο του ripple (941.83 Hz), f#[sub 2]=1012.5 Hz, f#[sub hp2]=1021.52 Hz, f#[sub 4]=1163.61 Hz.

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/matlab_combined_transfer_functions_bode.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Συνδυαστικό γράφημα συναρτήσεων μεταφοράς επιμέρους μονάδων και συνολικού φίλτρου.

figure.block-center.width-15cm
	img(src="2_band_pass/assets/diagrams/matlab_band_pass_chebyshev_total_attenuation.svg").width-15cm
	figcaption
		.reference #[span.plot-count]
		.caption.title.
			Απόσβεση φίλτρου.
		.caption.
			Στο γράφημα φαίνεται η απόσβεση του φίλτρου για τις κρίσιμες συχνότητες: f#[sub 3]=696.11 Hz, f#[sub 1]=800 Hz, f#[sub 0]=900 Hz, f#[sub 2]=1012.5 Hz, f#[sub 4]=1163.61 Hz.

p.
	Στα γραφήματα 3.2.5 και 3.2.7 έχουν σημειωθεί οι κρίσιμες συχνότητες οι οποίες καθορίζουν την ζώνη διόδου και αποκοπής, δηλαδή οι f#[sub 1]=800 Hz, f#[sub 2]=1012.5 Hz, f#[sub 3]=696.11 Hz και f#[sub 4]=1163.61 Hz, καθώς και οι αντίστοιχες αποσβέσεις. Παρατηρούμε ότι η απόκριση του φίλτρου στις συχνότητες που καθορίζουν την ζώνη διόδου είναι 0 dB, ενώ στη ζώνη αποκοπής είναι 35.04 dB. Επίσης η ταλάντωση στη ζώνη διόδου προκαλεί μέγιστο κέρδος 0.67 dB, ίσο με το α#[sub max]. Επομένως είναι φανερό ότι πληρείτε ακριβώς η προδιαγραφή a#[sub max]=0.666 dB ενώ η προδιαγραφή a#[sub min]=28.556 dB υπερκαλύπτεται.
